.word-list-category {
    font-family: Arial, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin: 20px;
}

.word-list-items {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.word-list-items li {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 15px;
}

.word-list-items li > span:nth-child(3n-2) {
    text-align: right;
}

.word-list-left-text {
    color: lightgray;
}

.word-list-right-text {
    color: lightgray;
}

.subtitles-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.subtitles-list-item:hover{
    cursor: pointer;
    color: coral;
}

.subtitles-panel {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 15px;
    margin: 20px 20px 50px;
}

.subtitles-panel select {
    border: none;
}

.subtitles-panel-upload {
    text-align: left;
}

.subtitles-panel-upload input {
    display: none;
}

.subtitles-panel-upload label {
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
}